scrapy_rhel/data/
scrapy_rhel/output/
scrapy_rhel/solutions/
scrapy_rhel/import_solutions/logs/
__pycache__/
.vscode/
rag-preprocessing/data/md/rcu_stall/*.md
rag-preprocessing/data/md/ssl/*.md
rag-preprocessing/data/md/*.md
*.xml
*.log